@using eShopCoreWeb.ViewModels.Common;
@model List<eShopCoreWeb.ViewModels.Sales.OrderDetailViewModel>

@{
	ViewData["Title"] = "Danh sách don hang";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
	<script>
		setTimeout(function () {
			$('#msgAlert').fadeOut('slow');
		}, 2000);
	</script>
}
	<div class="container-fluid">
		<h1>Chi tiết đơn hàng</h1>
		<!-- DataTales Example -->
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li> /
			<li class="breadcrumb-item active">Chi tiết đơn hàng</li>
		</ol>
		<!-- DataTales Example -->
		<div class="card shadow mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
					@if (ViewBag.ResultMsg != null && ViewBag.ResultMsg.Contains("thành công"))
					{
						<div class="alert alert-success" role="alert">
							@ViewBag.ResultMsg
						</div>
					}
					@if (ViewBag.ResultMsg != null && ViewBag.ResultMsg.Contains("thất bại"))
					{
						<div class="alert alert-danger" role="alert">
							@ViewBag.ResultMsg
						</div>
					}
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Sản phẩm </th>
							<th>Số lượng</th>
							<th>Giá tiền</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									<img style="width:100px;height:100px" src="@("https://localhost:44321/user-content/"+ item.ThumnailImage)" alt="" />
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Quantity)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Price)
								</td>
								<td>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->