
@using eShopCoreWeb.ViewModels.Common;
@using Microsoft.AspNetCore.Http;
@model PagedResult<eShopCoreWeb.ViewModels.Catalog.Products.ProductViewModel>

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Header End====================================================================== -->
<div id="mainBody">
	<div class="container">
	<div class="row">
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Products Name</li>
    </ul>
	<h3> Tất cả sản phẩm <small class="pull-right"> @Model.Items.Count products are available </small></h3>	
	<hr class="soft"/>
				<form class="form-horizontal span6" method="get" asp-action="Index" asp-controller="Product">
					@{
						// Lấy giá trị của tham số "categoryId" từ URL
						string categoryId = ViewContext.HttpContext.Request.Query["categoryId"];
					}
		<div class="control-group">
						<input type="hidden" name="categoryId" value="@categoryId" />
		  <label class="control-label alignL">Sort By </label>
			<select id="sort" name="sort" onchange="this.form.submit()">
				<option>----------------Sort By----------------</option>
              <option value="0">Product name A - Z</option>
				<option value="1">Product name Z - A</option>
							<option value="2">Product Stoke</option>
							<option value="3">Proce Lowest first</option>
            </select>
						
		</div>
	  </form>
	  
<div id="myTab" class="pull-right">
 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		@foreach(var item in Model.Items)
			{
							<div class="row">
								<div class="span2">
									<img src="@("https://localhost:44321/user-content/"+ item.ThumnailImage)" alt="" />
								</div>
								<div class="span4">
									<h3>@item.Name</h3>
									<hr class="soft" />
									<a class="btn btn-small pull-right" href="@Url.Action("Detail","Product",new {id = item.Id})">View Details</a>
									<br class="clr" />
								</div>
								<div class="span3 alignR">
									<form class="form-horizontal qtyFrm">
										<h3> @item.Price</h3>
										<label class="checkbox">
											<input type="checkbox">  Adds product to compair
										</label><br />

										<a href="@Url.Action("Detail","Product",new {id = item.Id})" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
										<a href="@Url.Action("Detail","Product",new {id = item.Id})" class="btn btn-large"><i class="icon-zoom-in"></i></a>

									</form>
								</div>
							</div>
							<hr class="soft" />
			}
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			@foreach(var item in Model.Items)
			{
				<li class="span3">
			  <div class="thumbnail">
				<a href="@Url.Action("Detail","Product",new {id = item.Id})"><img style="width:100px;height:100px;" src=" @("https://localhost:44321/user-content/"+ item.ThumnailImage)" /></a>
				<div class="caption">
				  <h5>@item.Name</h5>
				  <p> 
					@item.Description
				  </p>
				   <h4 style="text-align:center"><a class="btn" href="@Url.Action("Detail","Product",new{id=item.Id})"> <i class="icon-zoom-in"></i></a> 
					   <a class="btn btn-add-cart" data-id="@item.Id" href="#">Add to <i class="icon-shopping-cart"></i></a> 
					   <a class="btn btn-primary" href="#">@item.Price</a></h4>
				</div>
			  </div>
			</li>
			}
		  </ul>
	<hr class="soft"/>
	</div>
</div>

	<a href="compair.html" class="btn btn-large pull-right">Compair Product</a>
	<div class="pagination">
					@await Component.InvokeAsync("Pager", Model)
			</div>
			<br class="clr"/>
</div>
</div>
</div>
</div>

