@model IEnumerable<eShopCoreWeb.ViewModels.Catalog.Categories.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
    <div class="container-fluid">
        <h1>Danh sách danh mục</h1>
        <!-- DataTales Example -->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách  danh mục</li>
        </ol>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a class="btn btn-success" asp-controller="Category" asp-action="Create">Tạo mới danh mục </a></h6>
                <p></p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                    @if (ViewBag.ResultMsg != null && ViewBag.ResultMsg.Contains("thành công"))
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.ResultMsg
                        </div>
                    }
                    @if (ViewBag.ResultMsg != null && ViewBag.ResultMsg.Contains("thất bại"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ResultMsg
                        </div>
                    }
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SortOrder)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsShowOnHome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ParentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeoDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeoTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LanguageId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeoAlias)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BearerToken)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SortOrder)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsShowOnHome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LanguageId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeoAlias)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", "Category", new {  id=item.Id  }) |
                                    @Html.ActionLink("Các sản phẩm", "Index","Product", new {categoryId =item.Id }) |
                                    @Html.ActionLink("Xóa", "Delete","Category", new { id=item.Id  })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
<!-- End of Main Content -->

